@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,300);
@font-face {
  font-family: "Brandon";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/brandon/Brandon_reg.otf") format("opentype"); }
@font-face {
  font-family: "Brandon";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/brandon/Brandon_bld.otf") format("opentype"); }
@font-face {
  font-family: "Brandon";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/brandon/Brandon_blk.otf") format("opentype"); }
@font-face {
  font-family: "Brandon";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/brandon/Brandon_med.otf") format("opentype"); }
@font-face {
  font-family: "Brandon";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/brandon/Brandon_light.otf") format("opentype"); }
@font-face {
  font-family: "Brandon";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/brandon/Brandon_thin.otf") format("opentype"); }
@font-face {
  font-family: "Dolly";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/dolly/Dolly-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Dolly";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/dolly/Dolly-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Dolly";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/dolly/Dolly-Italic.otf") format("opentype"); }
.uk-panel-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 750px;
  color: #868686; }
  .uk-panel-box ol {
    margin: 10px 0 10px 25px; }

html {
  background-color: #F0F0F0;
  font-family: "Dolly"; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  color: #393939;
  font-family: "Dolly"; }

h1, h2, h3, h4, h5, h6, p, ul, ol, button {
  font-family: "Dolly";
  font-weight: 400;
  font-style: normal;
  line-height: 1.7; }
  h1.wl-intro, h2.wl-intro, h3.wl-intro, h4.wl-intro, h5.wl-intro, h6.wl-intro, p.wl-intro, ul.wl-intro, ol.wl-intro, button.wl-intro {
    color: #009DE0; }
  h1.wl-160, h2.wl-160, h3.wl-160, h4.wl-160, h5.wl-160, h6.wl-160, p.wl-160, ul.wl-160, ol.wl-160, button.wl-160 {
    color: #C4007A; }
  h1.wl-190, h2.wl-190, h3.wl-190, h4.wl-190, h5.wl-190, h6.wl-190, p.wl-190, ul.wl-190, ol.wl-190, button.wl-190 {
    color: #FCA700; }

p {
  font-size: 16px; }

p, ol, ul,
header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  margin: auto; }

ol {
  -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
          transform: translateX(25px);
  margin: 10px auto; }

section {
  max-width: 960px; }

header {
  text-align: center;
  margin: 50px auto 20px; }

article {
  margin-top: 40px; }

.uk-panel-box {
  border-radius: 3px; }

h3 {
  margin-top: 70px; }

nav#wl-nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  max-width: 200px;
  height: 100vh;
  background-color: transparent; }
  @media screen and (max-width: 1280px) {
    nav#wl-nav {
      display: none; } }
  nav#wl-nav a.uk-navbar-brand {
    display: block;
    margin-bottom: 40px; }
  nav#wl-nav ul li {
    width: 100%; }
    nav#wl-nav ul li a {
      display: block;
      padding: 5px 8px; }
      nav#wl-nav ul li a.wl-intro {
        color: #009DE0; }
      nav#wl-nav ul li a.wl-160 {
        color: #C4007A; }
      nav#wl-nav ul li a.wl-190 {
        color: #FCA700; }

section.wl-intro article#wl-grids img {
  position: relative;
  display: block;
  border-radius: 5px;
  max-width: 700px;
  margin: auto; }

.wl-mock-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .wl-mock-wrap .wl-mock-single {
    margin: 0 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex; }
    .wl-mock-wrap .wl-mock-single.wl-mock-160 {
      max-width: 160px; }
      .wl-mock-wrap .wl-mock-single.wl-mock-160 img {
        padding: 5px;
        background-color: #fff;
        border-radius: 3px; }
    .wl-mock-wrap .wl-mock-single.wl-mock-190 {
      max-width: 190px; }
      .wl-mock-wrap .wl-mock-single.wl-mock-190 img {
        padding: 5px;
        background-color: #fff;
        border-radius: 3px; }

.wl-mock-in-page, #wl-mock-160-s1-1,
#wl-mock-160-s1-2,
#wl-mock-160-s1-3,
#wl-mock-160-s1-4, #wl-mock-160-s2-1,
#wl-mock-160-s2-2,
#wl-mock-160-s2-3,
#wl-mock-160-s2-4, #wl-mock-190-s1-1,
#wl-mock-190-s1-2,
#wl-mock-190-s1-3,
#wl-mock-190-s1-4, #wl-mock-190-s2-1,
#wl-mock-190-s2-2,
#wl-mock-190-s2-3,
#wl-mock-190-s2-4 {
  margin: 20px 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px; }

#wl-mock-160-s1-1 h2.wl-mock-160-s1-ent {
  color: #e7b14c; }
#wl-mock-160-s1-1 button {
  background-color: #e7b14c; }

#wl-mock-160-s1-2 h2.wl-mock-160-s1-ent {
  color: #c05b3d; }
#wl-mock-160-s1-2 button {
  background-color: #c05b3d; }

#wl-mock-160-s1-3 h2.wl-mock-160-s1-ent {
  color: #5b9b5f; }
#wl-mock-160-s1-3 button {
  background-color: #5b9b5f; }

#wl-mock-160-s1-4 h2.wl-mock-160-s1-ent {
  color: #744b86; }
#wl-mock-160-s1-4 button {
  background-color: #744b86; }

#wl-160-p1-bn-code #wl-mock-160-s1-1 h2.wl-mock-160-s1-ent {
  color: rgba(91, 92, 91, 0.8);
  font-weight: 300;
  width: 100%;
  border-bottom: 2px solid rgba(91, 92, 91, 0.8); }
#wl-160-p1-bn-code #wl-mock-160-s1-1 button {
  background-color: #9C9C9C; }
#wl-160-p1-bn-code #wl-mock-160-s1-2 h2.wl-mock-160-s1-ent {
  color: rgba(91, 92, 91, 0.8);
  font-weight: 300;
  width: 100%;
  border-bottom: 2px solid rgba(91, 92, 91, 0.8); }
#wl-160-p1-bn-code #wl-mock-160-s1-2 button {
  background-color: #9C9C9C; }
#wl-160-p1-bn-code #wl-mock-160-s1-3 h2.wl-mock-160-s1-ent {
  color: rgba(91, 92, 91, 0.8);
  font-weight: 300;
  width: 100%;
  border-bottom: 2px solid rgba(91, 92, 91, 0.8); }
#wl-160-p1-bn-code #wl-mock-160-s1-3 button {
  background-color: #9C9C9C; }
#wl-160-p1-bn-code #wl-mock-160-s1-4 h2.wl-mock-160-s1-ent {
  color: rgba(91, 92, 91, 0.8);
  font-weight: 300;
  width: 100%;
  border-bottom: 2px solid rgba(91, 92, 91, 0.8); }
#wl-160-p1-bn-code #wl-mock-160-s1-4 button {
  background-color: #9C9C9C; }

#wl-mock-160-s1-1,
#wl-mock-160-s1-2,
#wl-mock-160-s1-3,
#wl-mock-160-s1-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 150px; }
  #wl-mock-160-s1-1 h2.wl-mock-160-s1-ent,
  #wl-mock-160-s1-2 h2.wl-mock-160-s1-ent,
  #wl-mock-160-s1-3 h2.wl-mock-160-s1-ent,
  #wl-mock-160-s1-4 h2.wl-mock-160-s1-ent {
    margin: 0;
    font-size: 17pt;
    font-weight: 700; }
  #wl-mock-160-s1-1 h2.wl-mock-160-s1-title,
  #wl-mock-160-s1-2 h2.wl-mock-160-s1-title,
  #wl-mock-160-s1-3 h2.wl-mock-160-s1-title,
  #wl-mock-160-s1-4 h2.wl-mock-160-s1-title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: 700;
    line-height: 16pt; }
  #wl-mock-160-s1-1 .wl-mock-160-s1-img-wrap,
  #wl-mock-160-s1-2 .wl-mock-160-s1-img-wrap,
  #wl-mock-160-s1-3 .wl-mock-160-s1-img-wrap,
  #wl-mock-160-s1-4 .wl-mock-160-s1-img-wrap {
    width: 150px;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
    #wl-mock-160-s1-1 .wl-mock-160-s1-img-wrap img,
    #wl-mock-160-s1-2 .wl-mock-160-s1-img-wrap img,
    #wl-mock-160-s1-3 .wl-mock-160-s1-img-wrap img,
    #wl-mock-160-s1-4 .wl-mock-160-s1-img-wrap img {
      width: 100%;
      height: 100px; }
  #wl-mock-160-s1-1 p.wl-mock-160-s1-p,
  #wl-mock-160-s1-2 p.wl-mock-160-s1-p,
  #wl-mock-160-s1-3 p.wl-mock-160-s1-p,
  #wl-mock-160-s1-4 p.wl-mock-160-s1-p {
    margin: 0;
    margin-top: 5px;
    font-size: 10pt;
    line-height: 14pt; }
  #wl-mock-160-s1-1 button,
  #wl-mock-160-s1-2 button,
  #wl-mock-160-s1-3 button,
  #wl-mock-160-s1-4 button {
    padding: 0 5px;
    margin-top: 8px;
    height: 22px;
    width: 100%;
    font-size: 9pt;
    text-align: left;
    border: none;
    outline: 0;
    color: #ffffff; }

#wl-mock-160-s2-1 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(247, 148, 29, 0.7); }
  #wl-mock-160-s2-1 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(0, 0, 0, 0.8); }

#wl-mock-160-s2-2 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(141, 198, 63, 0.7); }
  #wl-mock-160-s2-2 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(0, 0, 0, 0.8); }

#wl-mock-160-s2-3 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(146, 39, 143, 0.7); }
  #wl-mock-160-s2-3 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(0, 0, 0, 0.8); }

#wl-mock-160-s2-4 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(237, 20, 91, 0.7); }
  #wl-mock-160-s2-4 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(0, 0, 0, 0.8); }

#wl-160-p2-bn-code #wl-mock-160-s2-1 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(126, 126, 126, 0.7); }
  #wl-160-p2-bn-code #wl-mock-160-s2-1 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1px;
    font-weight: 300; }
#wl-160-p2-bn-code #wl-mock-160-s2-2 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(126, 126, 126, 0.7); }
  #wl-160-p2-bn-code #wl-mock-160-s2-2 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1px;
    font-weight: 300; }
#wl-160-p2-bn-code #wl-mock-160-s2-3 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(126, 126, 126, 0.7); }
  #wl-160-p2-bn-code #wl-mock-160-s2-3 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1px;
    font-weight: 300; }
#wl-160-p2-bn-code #wl-mock-160-s2-4 .wl-mock-160-s2-ent-wrap {
  background-color: rgba(126, 126, 126, 0.7); }
  #wl-160-p2-bn-code #wl-mock-160-s2-4 .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1px;
    font-weight: 300; }

#wl-mock-160-s2-1,
#wl-mock-160-s2-2,
#wl-mock-160-s2-3,
#wl-mock-160-s2-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 150px; }
  #wl-mock-160-s2-1 .wl-mock-160-s2-top-wrap,
  #wl-mock-160-s2-2 .wl-mock-160-s2-top-wrap,
  #wl-mock-160-s2-3 .wl-mock-160-s2-top-wrap,
  #wl-mock-160-s2-4 .wl-mock-160-s2-top-wrap {
    position: relative;
    width: 100%; }
    #wl-mock-160-s2-1 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap,
    #wl-mock-160-s2-2 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap,
    #wl-mock-160-s2-3 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap,
    #wl-mock-160-s2-4 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }
      #wl-mock-160-s2-1 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent,
      #wl-mock-160-s2-2 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent,
      #wl-mock-160-s2-3 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent,
      #wl-mock-160-s2-4 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-ent-wrap h2.wl-mock-160-s2-ent {
        margin: 0;
        font-size: 12pt;
        font-weight: 700;
        padding-left: 5px; }
    #wl-mock-160-s2-1 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap,
    #wl-mock-160-s2-2 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap,
    #wl-mock-160-s2-3 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap,
    #wl-mock-160-s2-4 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap {
      max-width: 150px;
      max-height: 130px;
      overflow: hidden;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #wl-mock-160-s2-1 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap img,
      #wl-mock-160-s2-2 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap img,
      #wl-mock-160-s2-3 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap img,
      #wl-mock-160-s2-4 .wl-mock-160-s2-top-wrap .wl-mock-160-s2-img-wrap img {
        max-width: 130%; }
  #wl-mock-160-s2-1 h2.wl-mock-160-s2-title,
  #wl-mock-160-s2-2 h2.wl-mock-160-s2-title,
  #wl-mock-160-s2-3 h2.wl-mock-160-s2-title,
  #wl-mock-160-s2-4 h2.wl-mock-160-s2-title {
    font-size: 12pt;
    line-height: 14pt;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0; }
  #wl-mock-160-s2-1 p.wl-mock-160-s2-p,
  #wl-mock-160-s2-2 p.wl-mock-160-s2-p,
  #wl-mock-160-s2-3 p.wl-mock-160-s2-p,
  #wl-mock-160-s2-4 p.wl-mock-160-s2-p {
    margin: 0;
    margin-top: 6px;
    font-size: 10pt;
    line-height: 13pt;
    text-align: left; }
  #wl-mock-160-s2-1 button,
  #wl-mock-160-s2-2 button,
  #wl-mock-160-s2-3 button,
  #wl-mock-160-s2-4 button {
    border: none;
    outline: none;
    background: none;
    text-decoration: underline;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 9pt;
    opacity: 0.6; }

#wl-mock-190-s1-1 h2.wl-mock-190-s1-ent {
  background-color: #f7941d; }

#wl-mock-190-s1-2 h2.wl-mock-190-s1-ent {
  background-color: #8dc63f; }

#wl-mock-190-s1-3 h2.wl-mock-190-s1-ent {
  background-color: #92278f; }

#wl-mock-190-s1-4 h2.wl-mock-190-s1-ent {
  background-color: #ed145b; }

#wl-190-p1-bn-code #wl-mock-190-s1-1 h2.wl-mock-190-s1-ent {
  background-color: #7E7E7E; }
#wl-190-p1-bn-code #wl-mock-190-s1-2 h2.wl-mock-190-s1-ent {
  background-color: #7E7E7E; }
#wl-190-p1-bn-code #wl-mock-190-s1-3 h2.wl-mock-190-s1-ent {
  background-color: #7E7E7E; }
#wl-190-p1-bn-code #wl-mock-190-s1-4 h2.wl-mock-190-s1-ent {
  background-color: #7E7E7E; }

#wl-mock-190-s1-1,
#wl-mock-190-s1-2,
#wl-mock-190-s1-3,
#wl-mock-190-s1-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 190px; }
  #wl-mock-190-s1-1 .wl-mock-190-s1-top-wrap,
  #wl-mock-190-s1-2 .wl-mock-190-s1-top-wrap,
  #wl-mock-190-s1-3 .wl-mock-190-s1-top-wrap,
  #wl-mock-190-s1-4 .wl-mock-190-s1-top-wrap {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #wl-mock-190-s1-1 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img,
    #wl-mock-190-s1-2 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img,
    #wl-mock-190-s1-3 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img,
    #wl-mock-190-s1-4 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 190px;
      height: 125px;
      z-index: 0;
      -moz-box-sizing: border-box;
           box-sizing: border-box; }
      #wl-mock-190-s1-1 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img img,
      #wl-mock-190-s1-2 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img img,
      #wl-mock-190-s1-3 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img img,
      #wl-mock-190-s1-4 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 125px; }
      #wl-mock-190-s1-1 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play,
      #wl-mock-190-s1-2 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play,
      #wl-mock-190-s1-3 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play,
      #wl-mock-190-s1-4 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play {
        position: absolute;
        top: 0;
        width: 100%;
        height: 125px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 0;
        margin-bottom: 0; }
        #wl-mock-190-s1-1 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play img,
        #wl-mock-190-s1-2 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play img,
        #wl-mock-190-s1-3 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play img,
        #wl-mock-190-s1-4 .wl-mock-190-s1-top-wrap .wl-mock-190-s1-img .wl-mock-190-s1-play img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 20px;
          height: 20px; }
    #wl-mock-190-s1-1 .wl-mock-190-s1-top-wrap h2.wl-mock-190-s1-ent,
    #wl-mock-190-s1-2 .wl-mock-190-s1-top-wrap h2.wl-mock-190-s1-ent,
    #wl-mock-190-s1-3 .wl-mock-190-s1-top-wrap h2.wl-mock-190-s1-ent,
    #wl-mock-190-s1-4 .wl-mock-190-s1-top-wrap h2.wl-mock-190-s1-ent {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      white-space: nowrap;
      position: absolute;
      bottom: -10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin: 0;
      padding: 2px 10px;
      height: 20px;
      color: #ffffff;
      font-size: 10pt;
      font-weight: 400; }
  #wl-mock-190-s1-1 h2.wl-mock-190-s1-title,
  #wl-mock-190-s1-2 h2.wl-mock-190-s1-title,
  #wl-mock-190-s1-3 h2.wl-mock-190-s1-title,
  #wl-mock-190-s1-4 h2.wl-mock-190-s1-title {
    font-weight: 700;
    text-align: center;
    font-size: 13pt;
    line-height: 15pt;
    margin: 0;
    margin-top: 25px; }
  #wl-mock-190-s1-1 button,
  #wl-mock-190-s1-2 button,
  #wl-mock-190-s1-3 button,
  #wl-mock-190-s1-4 button {
    border: none;
    outline: none;
    background: none;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 9pt;
    opacity: 0.6; }

#wl-mock-190-s2-1 h2.wl-mock-190-s2-ent {
  background-color: #e7b14c; }

#wl-mock-190-s2-2 h2.wl-mock-190-s2-ent {
  background-color: #c05b3d; }

#wl-mock-190-s2-3 h2.wl-mock-190-s2-ent {
  background-color: #5b9b5f; }

#wl-mock-190-s2-4 h2.wl-mock-190-s2-ent {
  background-color: #744b86; }

#wl-190-p2-bn-code #wl-mock-190-s2-1 h2.wl-mock-190-s2-ent {
  background-color: #5B5C5B; }
#wl-190-p2-bn-code #wl-mock-190-s2-2 h2.wl-mock-190-s2-ent {
  background-color: #5B5C5B; }
#wl-190-p2-bn-code #wl-mock-190-s2-3 h2.wl-mock-190-s2-ent {
  background-color: #5B5C5B; }
#wl-190-p2-bn-code #wl-mock-190-s2-4 h2.wl-mock-190-s2-ent {
  background-color: #5B5C5B; }

#wl-mock-190-s2-1,
#wl-mock-190-s2-2,
#wl-mock-190-s2-3,
#wl-mock-190-s2-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 190px; }
  #wl-mock-190-s2-1 .wl-mock-190-s2-top-wrap,
  #wl-mock-190-s2-2 .wl-mock-190-s2-top-wrap,
  #wl-mock-190-s2-3 .wl-mock-190-s2-top-wrap,
  #wl-mock-190-s2-4 .wl-mock-190-s2-top-wrap {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 130px;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
    #wl-mock-190-s2-1 .wl-mock-190-s2-top-wrap h2.wl-mock-190-s2-ent,
    #wl-mock-190-s2-2 .wl-mock-190-s2-top-wrap h2.wl-mock-190-s2-ent,
    #wl-mock-190-s2-3 .wl-mock-190-s2-top-wrap h2.wl-mock-190-s2-ent,
    #wl-mock-190-s2-4 .wl-mock-190-s2-top-wrap h2.wl-mock-190-s2-ent {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      margin: 0;
      padding: 0 5px;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      width: 100%;
      color: #ffffff;
      font-weight: 400;
      font-size: 12pt;
      line-height: 25px; }
    #wl-mock-190-s2-1 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap,
    #wl-mock-190-s2-2 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap,
    #wl-mock-190-s2-3 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap,
    #wl-mock-190-s2-4 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      overflow: hidden;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #wl-mock-190-s2-1 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img,
      #wl-mock-190-s2-2 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img,
      #wl-mock-190-s2-3 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img,
      #wl-mock-190-s2-4 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img {
        max-width: 120%;
        height: 130px; }
      #wl-mock-190-s2-1 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img.wl-mock-190-s2-play,
      #wl-mock-190-s2-2 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img.wl-mock-190-s2-play,
      #wl-mock-190-s2-3 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img.wl-mock-190-s2-play,
      #wl-mock-190-s2-4 .wl-mock-190-s2-top-wrap .wl-mock-190-s2-img-wrap img.wl-mock-190-s2-play {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 2;
        height: 20px;
        width: 20px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex; }
  #wl-mock-190-s2-1 h2.wl-mock-190-s2-title,
  #wl-mock-190-s2-2 h2.wl-mock-190-s2-title,
  #wl-mock-190-s2-3 h2.wl-mock-190-s2-title,
  #wl-mock-190-s2-4 h2.wl-mock-190-s2-title {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 15px;
    font-weight: 700;
    font-size: 13pt;
    line-height: 16pt; }
  #wl-mock-190-s2-1 p.wl-mock-190-s2-p,
  #wl-mock-190-s2-2 p.wl-mock-190-s2-p,
  #wl-mock-190-s2-3 p.wl-mock-190-s2-p,
  #wl-mock-190-s2-4 p.wl-mock-190-s2-p {
    font-size: 10pt;
    line-height: 12pt;
    margin: 0;
    margin-top: 10px; }
  #wl-mock-190-s2-1 button,
  #wl-mock-190-s2-2 button,
  #wl-mock-190-s2-3 button,
  #wl-mock-190-s2-4 button {
    border: none;
    background-color: #cccccc;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
    width: 100%;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
    margin: 0;
    margin-top: 10px; }

#wl-160-p1-code,
#wl-160-p2-code,
#wl-190-p1-code,
#wl-190-p2-code,
#wl-160-p1-bn-code,
#wl-160-p2-bn-code,
#wl-190-p1-bn-code,
#wl-190-p2-bn-code,
#wl-video-mock-ref {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto; }

#wl-mock-video-s1-import {
  margin: 20px 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 190px; }
  #wl-mock-video-s1-import .wl-mock-190-s1-top-wrap {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #wl-mock-video-s1-import .wl-mock-190-s1-top-wrap .wl-mock-190-s1-vid {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 190px;
      height: 125px;
      z-index: 0;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      overflow: hidden; }
      #wl-mock-video-s1-import .wl-mock-190-s1-top-wrap .wl-mock-190-s1-vid video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 130%;
        height: 130px; }
      #wl-mock-video-s1-import .wl-mock-190-s1-top-wrap .wl-mock-190-s1-vid .wl-mock-190-s1-play {
        position: absolute;
        top: 0;
        width: 100%;
        height: 125px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 0;
        margin-bottom: 0; }
        #wl-mock-video-s1-import .wl-mock-190-s1-top-wrap .wl-mock-190-s1-vid .wl-mock-190-s1-play img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 20px;
          height: 20px; }
    #wl-mock-video-s1-import .wl-mock-190-s1-top-wrap h2.wl-mock-190-s1-ent {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      white-space: nowrap;
      position: absolute;
      bottom: -10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin: 0;
      padding: 0 10px;
      height: 20px;
      color: #ffffff;
      background-color: #f7941d;
      font-size: 11pt;
      font-weight: 400; }
  #wl-mock-video-s1-import h2.wl-mock-190-s1-title {
    font-weight: 700;
    text-align: center;
    font-size: 13pt;
    line-height: 15pt;
    margin: 0;
    margin-top: 25px; }
  #wl-mock-video-s1-import button {
    border: none;
    outline: none;
    background: none;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 9pt;
    opacity: 0.6; }

#wl-mock-video-s2-import {
  margin: 20px 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 190px; }
  #wl-mock-video-s2-import .wl-mock-190-s2-top-wrap {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #wl-mock-video-s2-import .wl-mock-190-s2-top-wrap .wl-mock-190-s2-vid {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 190px;
      height: 125px;
      z-index: 0;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      overflow: hidden; }
      #wl-mock-video-s2-import .wl-mock-190-s2-top-wrap .wl-mock-190-s2-vid video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 130%;
        height: 130px; }
      #wl-mock-video-s2-import .wl-mock-190-s2-top-wrap .wl-mock-190-s2-vid .wl-mock-190-s2-play {
        position: absolute;
        top: 0;
        width: 100%;
        height: 125px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 0;
        margin-bottom: 0; }
        #wl-mock-video-s2-import .wl-mock-190-s2-top-wrap .wl-mock-190-s2-vid .wl-mock-190-s2-play img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          cursor: pointer; }
    #wl-mock-video-s2-import .wl-mock-190-s2-top-wrap h2.wl-mock-190-s2-ent {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      white-space: nowrap;
      position: absolute;
      bottom: -10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin: 0;
      padding: 0 10px;
      height: 20px;
      color: #ffffff;
      background-color: #8dc63f;
      font-size: 11pt;
      font-weight: 400; }
  #wl-mock-video-s2-import h2.wl-mock-190-s2-title {
    font-weight: 700;
    text-align: center;
    font-size: 13pt;
    line-height: 15pt;
    margin: 0;
    margin-top: 25px; }
  #wl-mock-video-s2-import button {
    border: none;
    outline: none;
    background: none;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 9pt;
    opacity: 0.6; }

#wl-colori h5 {
  margin: auto;
  text-align: center; }
#wl-colori .wl-palette-1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 700px;
  margin: 20px auto; }
  #wl-colori .wl-palette-1 span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 60px;
    margin: 0; }
    #wl-colori .wl-palette-1 span:nth-of-type(1) {
      background-color: #e7b14c; }
    #wl-colori .wl-palette-1 span:nth-of-type(2) {
      background-color: #c05b3d; }
    #wl-colori .wl-palette-1 span:nth-of-type(3) {
      background-color: #5b9b5f; }
    #wl-colori .wl-palette-1 span:nth-of-type(4) {
      background-color: #744b86; }
#wl-colori .wl-palette-2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 700px;
  margin: 20px auto; }
  #wl-colori .wl-palette-2 span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 60px; }
    #wl-colori .wl-palette-2 span:nth-of-type(1) {
      background-color: #f7941d; }
    #wl-colori .wl-palette-2 span:nth-of-type(2) {
      background-color: #8dc63f; }
    #wl-colori .wl-palette-2 span:nth-of-type(3) {
      background-color: #92278f; }
    #wl-colori .wl-palette-2 span:nth-of-type(4) {
      background-color: #ed145b; }
